<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page.title }} — {{ site.name}} </title>
<meta name="description" content="「扬子青衿荟」（Yangtze Young Minds）系列论坛，汇集青年学子的智慧，共谱明日长江之歌。" />
<meta name="keywords" content="扬子青衿荟, 研究生论坛, 长江, 绿色发展, 青年, YICODE, Yangtze Young Minds, 可持续发展, sustainability" />
<meta name="author" content="YICODE" />
<link rel="shortcut icon" href="../favicon.ico">
<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
<link rel="stylesheet" id="Bootstrap_css-css" href="https://cdn.jsdelivr.net/gh/estds/cdn-res/bootstrap/4.5.2/css/bootstrap.min.css" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href="/assets/css/lineconsx.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/component.css" />
<link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
<script src="https://cdn.jsdelivr.net/gh/estds/cdn-res/jquery/3.5.1/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/estds/cdn-res/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/modernizr.custom.js"></script>