<nav id="mp-menu" class="mp-menu">
  <div class="mp-level">
    <h2 class="icon icon-world text-truncate">菜单</h2>
    <ul>
      <li class="icon icon-arrow-left">
        <a class="icon icon-display text-truncate" href="/about">关于</a>
        <div class="mp-level">
          <h2 class="icon icon-display text-truncate">Devices</h2>
          <a class="mp-back no-action text-truncate" href="#">返回</a>
          <ul>
            <li class="icon icon-arrow-left">
              <a class="icon icon-phone text-truncate" href="#">Mobile Phones</a>
              <div class="mp-level">
                <h2 class="text-truncate">Mobile Phones</h2>
                <a class="mp-back no-action text-truncate" href="#">返回</a>
                <ul>
                  <li><a href="#" class="text-truncate">Super Smart Phone</a></li>
                  <li><a href="#" class="text-truncate">Thin Magic Mobile</a></li>
                  <li><a href="#" class="text-truncate">Performance Crusher</a></li>
                  <li><a href="#" class="text-truncate">Futuristic Experience</a></li>
                </ul>
              </div>
            </li>
            <li class="icon icon-arrow-left">
              <a class="icon icon-tv text-truncate" href="#">Televisions</a>
              <div class="mp-level">
                <h2 class="text-truncate">Televisions</h2>
                <a class="mp-back no-action text-truncate" href="#">返回</a>
                <ul>
                  <li><a href="#" class="text-truncate">Flat Superscreen</a></li>
                  <li><a href="#" class="text-truncate">Gigantic LED</a></li>
                  <li><a href="#" class="text-truncate">Power Eater</a></li>
                  <li><a href="#" class="text-truncate">3D Experience</a></li>
                  <li><a href="#" class="text-truncate">Classic Comfort</a></li>
                </ul>
              </div>
            </li>
            <li class="icon icon-arrow-left">
              <a class="icon icon-camera text-truncate" href="#">Cameras</a>
              <div class="mp-level">
                <h2 class="text-truncate">Cameras</h2>
                <a class="mp-back no-action text-truncate" href="#">返回</a>
                <ul>
                  <li><a href="#" class="text-truncate">Smart Shot</a></li>
                  <li><a href="#" class="text-truncate">Power Shooter</a></li>
                  <li><a href="#" class="text-truncate">Easy Photo Maker</a></li>
                  <li><a href="#" class="text-truncate">Super Pixel</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li class="icon icon-arrow-left">
        <a class="icon icon-news text-truncate" href="#">Magazines</a>
        <div class="mp-level">
          <h2 class="icon icon-news text-truncate">Magazines</h2>
          <a class="mp-back no-action text-truncate" href="#">返回</a>
          <ul>
            <li><a href="#" class="text-truncate">National Geographic</a></li>
            <li><a href="#" class="text-truncate">Scientific American</a></li>
            <li><a href="#" class="text-truncate">The Spectator</a></li>
            <li><a href="#" class="text-truncate">The Rambler</a></li>
            <li><a href="#" class="text-truncate">Physics World</a></li>
            <li><a href="#" class="text-truncate">The New Scientist</a></li>
          </ul>
        </div>
      </li>
      <li class="icon icon-arrow-left">
        <a class="icon icon-shop text-truncate" href="#">Store</a>
        <div class="mp-level">
          <h2 class="icon icon-shop text-truncate">Store</h2>
          <a class="mp-back no-action text-truncate" href="#">返回</a>
          <ul>
            <li class="icon icon-arrow-left">
              <a class="icon icon-t-shirt text-truncate" href="#">Clothes</a>
              <div class="mp-level">
                <h2 class="icon icon-t-shirt text-truncate">Clothes</h2>
                <a class="mp-back no-action text-truncate" href="#">返回</a>
                <ul>
                  <li class="icon icon-arrow-left">
                    <a class="icon icon-female text-truncate" href="#">Women's Clothing</a>
                    <div class="mp-level">
                      <h2 class="icon icon-female text-truncate">Women's Clothing</h2>
                      <a class="mp-back no-action text-truncate" href="#">返回</a>
                      <ul>
                        <li><a href="#" class="text-truncate">Tops</a></li>
                        <li><a href="#" class="text-truncate">Dresses</a></li>
                        <li><a href="#" class="text-truncate">Trousers</a></li>
                        <li><a href="#" class="text-truncate">Shoes</a></li>
                        <li><a href="#" class="text-truncate">Sale</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="icon icon-arrow-left">
                    <a class="icon icon-male text-truncate" href="#">Men's Clothing</a>
                    <div class="mp-level">
                      <h2 class="icon icon-male text-truncate">Men's Clothing</h2>
                      <a class="mp-back no-action text-truncate" href="#">返回</a>
                      <ul>
                        <li><a href="#" class="text-truncate">Shirts</a></li>
                        <li><a href="#" class="text-truncate">Trousers</a></li>
                        <li><a href="#" class="text-truncate">Shoes</a></li>
                        <li><a href="#" class="text-truncate">Sale</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li>
              <a class="icon icon-diamond text-truncate" href="#">Jewelry</a>
            </li>
            <li>
              <a class="icon icon-music text-truncate" href="#">Music</a>
            </li>
            <li>
              <a class="icon icon-food text-truncate" href="#">Grocery</a>
            </li>
          </ul>
        </div>
      </li>
      <li><a class="icon icon-photo text-truncate" href="#">Collections</a></li>
      <li><a class="icon icon-wallet text-truncate" href="#">Credits</a></li>
    </ul>
  </div>
</nav>