<a href="#" id="trigger" class="btn text-white-50 no-action">
  <i class="icon icon-menu display-4"></i>    
  <span class="sr-only">Menu</span>
</a>
<p class="clearfix text-center"><a href="{{ site.baseurl }}" id="brand" class="m-4 d-inline-block"><img src="/assets/img/brain.svg" width="128" class="img-fluid"></a></p>
<p class="clearfix text-center display-5">扬子青衿荟</p>
<p class="clearfix text-center lead">Yangtze Young Minds</p>
<ul class="nav justify-content-center small">
  <li class="nav-item">
    <a class="nav-link text-light" href="#">分享</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#" data-toggle="modal" data-target="#searchModal">搜索</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="https://www.yicode.org.cn">长江院</a>
  </li>
</ul>