<a href="#" id="trigger" class="text-white-50 no-action">
  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
    <line x1="3" y1="12" x2="21" y2="12"></line>
    <line x1="3" y1="6" x2="21" y2="6"></line>
    <line x1="3" y1="18" x2="21" y2="18"></line>
  </svg>
  <span class="sr-only">Menu</span>
</a>
<p class="clearfix text-center"><a href="{{ site.baseurl }}" id="brand" class="m-4 d-inline-block"><img src="/assets/img/brain.svg" width="256" class="img-fluid"></a></p>
<p class="clearfix text-center display-4">扬子青衿荟</p>
<p class="clearfix text-center lead">Yangtze Young Minds</p>
<ul class="nav justify-content-center small">
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Link</a>
  </li>
</ul>