body {
	background: #004447;
	color: #fff;
	font-weight: 150;
}

a:focus {
	outline: none;
}

.display-5 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;
}

.outer-wrap {
	overflow-x: hidden;
}

.content {
	max-width: 100%;
}

.content a {
	color: #ffc107;
}

.mp-menu {
	width: 270px;
}

.mp-menu .mp-level {
	background-color: #006064;
}

.mp-menu a:hover,
.mp-menu a {
	color: #fff;
	text-decoration: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.main p {
	margin: 1.2rem 0;
	font-size: 1.4em;
	line-height: 1.5;
}

.nav-separator .nav-item .nav-link {
	padding: .25rem .5rem;
}

.nav-separator .nav-item:not(:last-child) .nav-link:after {
	content: '/';
	padding-left: 1rem;
}

#searchModal.show {
	background-color: rgba(0, 0, 0, 0.75);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	opacity: 1;
}

#prefetch-search .twitter-typeahead {
	display: block!important;
}

#prefetch-search .typeahead-dropdown {
	max-height: 30vh;
	overflow-y: auto;
}

@media screen and (max-width: 520px) {
	.main p {
		font-size: 1.2rem;
	}
}