/*@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);*/

body {
	background: #004447;
	color: #fff;
	font-weight: 150;
}

.display-5 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;
}

.outer-wrap {
	overflow-x: hidden;
}

.content {
	padding: 4em 2em;
	max-width: 100%;
}

.content a {
	color: #ffc107;
}

.mp-menu .mp-level {
	background-color: #006064;
}

.mp-menu a:hover,
.mp-menu a {
	color: #fff;
	text-decoration: none;
}

.main p {
	margin: 1.2rem 0;
	font-size: 1.4em;
	line-height: 1.5;
}

.sidebar .nav-item .nav-link {
	padding: .25rem .5rem;
}

.sidebar .nav-item:not(:last-child) .nav-link:after {
	content: '/';
	padding-left: 1rem;
}

@media screen and (max-width: 520px) {
	.main p {
		font-size: 1.2rem;
	}
}