<!DOCTYPE html>
<html lang="zh-CN" class="no-js">

  <head>
    <!-- meta -->
        {% include meta.html %}
    <!-- /meta -->
  </head>

  <body>
    <div class="container-fluid outer-wrap px-0">
      <!-- Push Wrapper -->
      <div class="mp-pusher" id="mp-pusher">

        <!-- mp-menu -->
            {% include mp-menu.html %}
        <!-- /mp-menu -->

        <!-- content -->
        <div class="content min-vh-100 p-3 px-lg-5">
          <div class="row">
            <div class="col-12 col-lg-5 sidebar pb-5">
              {% include sidebar.html %}
            </div>
            <div class="col-12 col-lg-7 main">
              <h1 class="title py-5">{{ page.title }}</h1>
              {{ content }}
            </div>
          </div>
        </div>
        <!-- /content -->

        <!-- footer -->
        <footer class="content p-3 px-lg-5">
          <div class="row">
            {% include footer.html %}
          </div>
        </footer>
        <!-- /footer -->

      </div><!-- /pusher -->
      {% include search.html %}

    </div><!-- /container -->
    <script src="/assets/js/classie.js"></script>
    <script src="/assets/js/mlpushmenu.js"></script>
    <script>
    	new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
    </script>
      <script src="/assets/js/tweaks.js"></script>
</body>

</html>
